
.game-info-container{
	display: block;
	background-color: gray;
	height: 80px;
	color: #DDD;
	margin:  0 0 10px 0;
}

.section{
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	top: 10px;
	position: relative;
}

.section div{
	color: white;
	font-weight: bold;
	display: inline;
}

.form-container{
	text-align: center;
	margin: 0 auto
}

.grid-container{
	margin: 0 auto;
	width: 80%;
}

